

/* /* body {
    background-color: antiquewhite;
    background-image: url(https://mmajunkie.usatoday.com/gcdn/authoring/images/smg/2025/02/23/SMMA/79850614007-91-2737689.png?width=660&height=372&fit=crop&format=pjpg&auto=webp);
    background-repeat: no-repeat; /* Não vai repetir 
    background-size: cover;
}*/

/* .static {
    background-color: bisque;
    width: 200px;
    height: 100px;
    margin: 7px;
    position: static; /* Já e o padrão 
}

.relative{
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    left: 50px;
    top: 500px;
    position: relative;
}

.absulute{
    background-color: blueviolet;
    width: 200px;
    height: 100px;
    left: 100px;
    top: 0;
    position: absolute;
} */

/* .container {
    background-color: blue;
    width: 400px;
    height: 300px;
    position: relative;
}

.absulute {
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    top: 20px;
} */

/* .menu {
    background-color: rgb(66, 219, 66);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
} 

.red1 {

}

.red2 {

}

.red3 {

}

.red4 {

}

.red5 {

}

.red6 {

}

.red7 {

}

.red8 {

}

.red9 {

}

.red10 {

}

 */
