body {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

img {
    width: 250px;
    height: 150px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    position: right;
    border: 1px solid red;
}

.time{
    color: white;
}
