p {
    color: black;
    line-height: 30px; /*  Espaçamento entre as linhas */
}

 h1{       

    /* color: red; 1 - Nome da cor  */   
    /* color: #000; 2 - Hexadecimal da cor */
    /* color: rgba(255, 0, 0, 0.1); */
    /* background-color: blueviolet; */

    font-family: fantasy; /* Define estilo da fonte */
     font-size: 50px; /* Define o Tamanho da fonte */
     font-weight: 100; /* Define a Espessura da fonte */
    text-transform: uppercase;  /* Transformar o estilo do texto */
} 





